.button{
    font-family: $font-lora;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    
    &-primary{
        color: #fff;
        padding: 1em 4em;
        background-color: $color-primary;
        border: 2px solid #eb971f;
        transition: all 0.1s;
    }
    &-primary:hover{
        color: #eb971f;
        background-color: transparent;
        border: 2px solid #eb971f;
    }
}