.flex{
	display: flex;
}

.flex-row{
	flex-direction: row;
}

.flex-column{
	flex-direction: column;
}

.flex-space-around{
	justify-content: space-around;
}

.flex-space-between{
	justify-content: space-between;
}

.flex-wrap{
	flex-wrap: wrap;
}