.form{
	
	input[type="text"],
	input[type="email"],
	textarea{
		width: 100%;
		padding: 1em;
		margin: 1em 0em;
		box-sizing: border-box;
	}
	textarea{
		min-height: 200px;
	}
	input[type="submit"]{
		width: inherit;
	}
}