.header{

    .header__content{
		box-sizing: border-box;
		padding: 2em;
	}
    .header__brand{}
    .header__navigation{
        text-align: right;
		height: inherit;
		display: inherit;
		justify-content: inherit;
		flex-direction: inherit;
		margin-bottom: 2em;
        
        a{
// 			font-size: 2.5rem;
			font-size: 1.5rem;
    		font-weight: 700;
        }
		a#navigation:hover{
			color: $color-primary;
		}
        
        nav{
			display: none;
            flex-direction: column;
            
            a{
                font-family: $font-lora;
// 				font-size: 48px!important;
				font-size: 2.5rem!important;
				transition: padding 0.3s;
				
				&:hover{
					border-right: 5px solid #fff;
					padding-right: 1em;
				}
            }
        }
    }
}

.header.header--active{
	color: #fff;
	background-color: $color-primary;
	
	.header__content{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__navigation{
		height: calc(100vh - 100px);
		
		a#navigation:hover{
			color: #fff;
		}
		
		nav{
			display: flex;
		}
	}
}

@include at-tablet{
	.header{
		.header__navigation{
			a{
				font-size: 24px;
			}
			
			nav a{
				font-size: 48px!important;
			}
		}
	}
}
@include at-desktop{
	.header{
		.header__content{
			max-width: 1500px;
			margin: auto;
		}
	}
	
}
	
