.header{

    .header__content{
		box-sizing: border-box;
		padding: 2em;
	}
    .header__brand{}
    .header__navigation{
        text-align: right;
		height: inherit;
		display: inherit;
		justify-content: inherit;
		flex-direction: inherit;
        
        a{
// 			font-size: 2.5rem;
			font-size: 1.5rem;
    		font-weight: 700;
        }
		a#navigation:hover{
			color: $color-primary;
		}
        
        nav{
			display: none;
            flex-direction: column;
            
            a{
                font-family: $font-lora;
// 				font-size: 48px!important;
				font-size: 2.5rem!important;
				
				&:hover{
					color: transparent;
					-webkit-text-stroke: 0.5px #fff;
				}
            }
        }
    }
}

.header.header--active{
	color: #fff;
	background-color: $color-primary;
	
	.header__content{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__navigation{
		a#navigation:hover{
			color: #fff;
		}
		
		nav{
			display: flex;
		}
	}
}