// Large	960px to 1199px	Desktops & tablets landscape
@media (min-width: 960px){
	
	h1{
		font-size: 40px;
	}

	p{
		font-size: 1.5625rem;
	}
	
	html, body{
		overflow: auto;
	}
	
	.background-image-remove-blur{
		filter: blur(0px);
		transform: scale(1); // remove white-blur and make sure "overflow: hidden" in body tag
	}
	
	footer{
		position: absolute;
	    right: 45px;
		bottom: 40px;
		
		.nav__social-media{
			display: block;

			a{
				display: inline-block;
				padding: 0.125rem;
				color: $color-gray-003;
			}
		}
	}
	
	.nav__container{
		display: flex;
		flex-direction: row;
		
		.nav__logo{
			margin-left: 25px;
		}
		
		.nav__mobile-menu,
		#nav__mobile-menu{
			display: none;
		}
		
		.nav__links-container{
			z-index: 1;
			position: relative;
			opacity: 1;
			background-color: transparent;
			width: inherit!important;

			.nav__links{
				position: relative;
				transform: none;
				left: auto;
				top: auto;
				text-align: right;
				display: flex;
				flex-direction: row;
				
				li{
				    margin-right: 1rem;
					
					a{
						font-size: 18px;
					}
				}
				
				nav.nav__social-media{
					display: none;
				}
			}
		}
	}
	
	#home{
		&::before{
			width: 52%;
			box-shadow: inset -8px 0px 0px -2px rgba(255,255,255,1); // remove backgroud-border from the right
		}
		
		main{
			color: $color-gray-002;
			left: 74%;
			width: 36%;
		    text-align: left;
		}
	}
	
	#work{
		main{
			width: 90%;
			position: relative;
			top: auto;
    		left: auto;
			
			transform: none;
			display: grid;
			grid-template: "";
			grid-template-columns: 60% 3% 37%;
			grid-template-rows: repeat(4, 25%);
			grid-template-areas:
			    "feature-image . ."
				"feature-image . header"
			    "feature-image . paragraph"
				"feature-image . . "
			    ;
			text-align: right;
		}
		h1{
			grid-area: header;
		}
		p{
			grid-area: paragraph;
		}
		.feature-image{
			grid-area: feature-image;
			max-width: 780px;
		}

	}
	
	#contact {
		a{
			color: #fff;
		}
		
		&::before{
			box-shadow: inset 0px -300px 90px -25px rgba(0,0,0,0.56);
		}
		main{
			top: 75vh;
			padding: 0px;
		}
	}
}