.margin{
	margin: $base-margin;
}

.margin-small{
	margin: $base-margin-small;
}
.margin-remove-top{
	margin-top: 0;
}
.margin-remove-left{}
.margin-remove-right{}
.margin-remove-bottom{
	margin-bottom: 0;
}