// Medium	768px to 959px	Tablets portrait
@media (min-width: 768px){
	h1{
		font-size: 3.125rem;
	}
	p{
		font-size: 1.875rem;
	}
	
	.nav__container{
		.nav__logo{
			font-size: 3rem;
		}
	}
	
	#work{
		position: relative;

		main{
			position: absolute; // then set parent to position: relative
			top: 25vw;
			left: 50%;
			transform: translate(-50%, -20%);
			width: 80%;
			
			.feature-image{
				height: 31.25rem;
				
				&--view{
					a{
						font-size: 3rem;
					}
				}
			}
		}
	}
}
