// Mini	up to 479px	Phones portrait
h1{
	font-size: 2.25rem;
}

p{
	font-size: 1.5rem; 
}

.nav__social-media{
	display: none;

	a{
		display: inline-block;
		padding: 0.125rem;
	}
}

.nav__container{
	@extend .center-container;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: baseline;
	color: $color-white;

	.nav__logo{
		font-family: $font-playfair-display;
		font-weight: 900;
		font-size: 2.25rem;
		font-style: italic;
	}
	.nav__mobile-menu{
		font-size: 1.875rem;
	}
	.nav__logo,
	.nav__mobile-menu,{
		z-index: 3;
	}
	#nav__mobile-menu{
		display: none;

		&:checked{
			~ .nav__links-container{
				opacity: 1;
				z-index: 2;
			}
			~ .nav__mobile-menu,
			~ .nav__logo{
				color: $color-gray-000!important;
			}
		}
	}
	.nav__links-container{
		z-index: -1;
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: opacity 0.5s;
		opacity: 0;
		font-family: $font-anton;
		color: $color-gray-003;
		background-color: $color-white;

		.nav__links{
			left: 50%;
			top: 50%;
			text-align: center;
			position: absolute;
			transform: translate(-50%,-50%);

			li .nav__social-media{
				display: block;
			}
			li a{
				line-height: 2.8rem;
				transition: color 0.5s;
				font-size: 1.5rem;
				
				&.active{
					color: $color-gray-000!important;
				}
				&:hover{
					color: $color-gray-000!important;
				}
			}
		}
	}
}

#home{
	@extend .viewport-height;
	position:relative;
	
	&::before {
		@extend .background-image-full-page;
		@extend .background-image-remove-blur;
		background-image: url($bg-img-home);
	}

	main{
		@extend .center-container;
		position: absolute; // then set parent to position: relative
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		text-align: center;
		color: $color-white;
	    width: 85%;
		
		h1{
			white-space: nowrap;
			font-family: $font-playfair-display;
			font-size: 3rem;
		}
	}
}


#contact{
	@extend .viewport-height;
	position:relative;
	
	&::before {
		@extend .background-image-full-page;
		@extend .background-image-remove-blur;
		background-image: url($bg-img-contact);
	}

	main{
		@extend .center-container;
		position: absolute; // then set parent to position: relative
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		text-align: center;
		color: $color-white;
		
		h1{
			white-space: wrap;
		}
	}
}


#work{
	.nav__container{
		color: $color-gray-000;
	}
	
	@extend .viewport-height;
	position:relative;

	main{
		@extend .center-container;
		text-align: center;
		color: $color-gray-002;

		.feature-image{
			width: 100%;
			height: 50vw;
			background-image: url($bg-img-cityescape);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin: auto;
			position: relative;
			box-shadow: 0 25px 25px -5px rgba(0,0,0,.1);
			
			// &:hover{
			// 	.feature-image--view{
			// 		opacity: 0.9;
			// 	}
			// }
			// 
			// &--view{
			// 	left: 0;
			// 	top: 0;
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	background-color: $color-gray-000;
			// 	opacity: 0;
			// 	transition: 0.3s all;
			// 
			// 	a{
			// 		display: block;
			// 		color: #fff;
			// 		left: 0;
			// 		top: 0;
			// 		position: absolute;
			// 		top: 50%;
			// 		left: 50%;
			// 		transform: translate(-50%, -50%);
			// 	}
			// }
		}
	}
}
