/* my variables */
$font-roboto-slab: 	'Roboto Slab', serif;
$font-song-myung: 	'Song Myung', serif;

$color-primary: 	#009ccf;
$color-secondary: 	#53565a;

$utility-container-max-width:                    980px !default;

// 1142 x total padding of x2(35) 70
$utility-container-large-max-width:              1212px !default;
$utility-container-large-padding-horizontal:     35px !default;
