/* styles in /projects/index.tsx */
.Project {
    @apply border border-dark border-opacity-10;
    @apply rounded;
}

.Project:hover {
    @apply border border-primary border-opacity-100;
}

.Project:hover .Title,
.Project:hover .Excerpt {
    @apply text-primary;
}

.Project:hover .Title {
    @apply underline;
}

.Project .Title {
    @apply block;
    @apply font-bold;
    @apply pb-2;
    color: inherit;
}

.Project .Excerpt {
    @apply text-sm;
    color: inherit;
}

/* styles in /projects/[slug].tsx */
.Project_Details {
    @apply break-words;
    @apply my-20;
}

.Project_Details h1,
.Project_Details h2,
.Project_Details h3,
.Project_Details h4,
.Project_Details h5,
.Project_Details h6 {
    @apply font-bold;
    @apply mt-4;
}

.Project_Details h2 {
    @apply text-xl;
}

.Project_Details p {
    @apply font-light text-sm;
    @apply my-2;
    @apply leading-relaxed;
}

.Project_Details a {
    @apply underline hover:text-primary;
}

.Project_Details pre {
    @apply p-4 my-2;
    @apply rounded-sm;
    @apply text-xs;
    @apply bg-dark;
    @apply overflow-scroll;
    font-family: "Roboto Slab", serif;
    color: #ffffff;
}
