.project-list {
  .card-body > div {
    min-height: 250px;
  }
  p {
    font-family: $font-family-monospace;
    font-size: 0.8rem;
  }
  .accent-line{
    max-width: 4px;
    width: 100%;
  }
  &:hover{
    .accent-line{
      max-width: 10px!important;
      transition: 0.2s;
    }
  }
}