.social-media-list {
	li.circle {
		font-size: 18px;
	}
	li {
		font-family: $font-family-monospace;
		font-size: 14px;
		font-weight: 500;
		margin-right: 1rem!important;
	}
	li a {
		color: $dark!important;
	}
}