$font-family-sans-serif:      'PT Serif', sans-serif;
$font-family-monospace:       'Montserrat', sans-serif;
$font-size-base:              1rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$primary:                     #209CEE !default;
$secondary:                   #EE7220 !default;
$success:                     #F7BD96 !default;
$light:                       #606060 !default;
$dark:                        #252525 !default;

$link-color:                  $light !default;

