.navigation-offset.color-white
	.navigation-offset__content.container
			span( style="font-size: 1.5em; padding: 2em; padding-right: 1.2em; display: inline-block; color: inherit; cursor: pointer;" )#navigation_icon_close
				span(style="color: inherit;").fas.fa-times

			ul.navigation-offset__menu.color-white
				li: a(href="index.html") about
				li: a(href="projects.html") projects
				li: a(href="contact.html") contact
