.header
	.header__content(style="display: flex; justify-content: space-between;")
		.header__brand
		.header__navigation
			span(style="font-size: 1.5em; padding: 2em 0em; display: inline-block; cursor: pointer;" )#navigation_icon
				span.fas.fa-bars
			