.header
	.header__content
		.header__brand
		.header__navigation
			a(href="#", id="navigation", active="false")
				li.fas.fa-bars
			nav(id="navigation-target")
				a(href="#work") work
				a(href="#contact") contact
				a(href="#about") about