meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

meta(name='description', content='Hi, my name is Kurt, an aspiring cinematographer and front-end developer, founder of cityescape.ph')
meta(name='keywords', content='kurt obando, portfolio')

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anton|Playfair+Display:400,700,900,900i')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='css/style.css')

link(rel='author', href='https://plus.google.com/u/0/114919468176469695769')
link(rel='canonical', href='https://plus.google.com/u/0/114919468176469695769')
link(rel='apple-touch-icon', sizes='57x57', href='images/fav/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='images/fav/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='images/fav/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='images/fav/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='images/fav/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='images/fav/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='images/fav/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='images/fav/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='images/fav/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='images/fav/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='images/fav/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='images/fav/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='images/fav/favicon-16x16.png')
link(rel='manifest', href='images/fav/manifest.json')

meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='images/fav/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
meta(property='og:url', content='https://kurtobando.com/')
meta(property='og:image', content='images/preview.png')
meta(property='og:description', content='Hi, my name is Kurt, an aspiring cinematographer and front-end developer, founder of cityescape.ph')
meta(property='og:title', content='Hello, I am Kurt!')
meta(property='og:site_name', content='Hello, I am Kurt!')
meta(property='og:see_also', content='https://kurtobando.com/')
meta(itemprop='name', content='Hello, I am Kurt!')
meta(itemprop='description', content='Hi, my name is Kurt, an aspiring cinematographer and front-end developer, founder of cityescape.ph')
meta(itemprop='image', content='images/preview.png')
meta(name='twitter:card', content='an aspiring cinematographer and front-end developer, founder of cityescape.ph')
meta(name='twitter:url', content='images/preview.png')
meta(name='twitter:title', content='Hello, I am Kurt!')
meta(name='twitter:description', content='Hi, my name is Kurt, an aspiring cinematographer and front-end developer, founder of cityescape.ph')
meta(name='twitter:image', content='images/preview.png')

title Hello I am Kurt!