doctype html
html(lang='en')
	head
		include jade/head.jade

	body
		// offset navigation
		include jade/__navigation-offset.jade
		
		.page-label
			.page-label__content
				h3.color-white about
		
		.container
			section.section.section-cover.padding-remove-top.padding-remove-bottom
				.flex.flex-column.flex-space-between(style="min-height: inherit;")
					include jade/__navigation.jade
					
					section(style="text-align: center;")
						h1(style="font-size: 4rem; margin: 0;").
							Kurt Obando
						p(style="font-size: 1.5rem; font-weight: 300;")
							| i design, code, solve web problems <br>
							| and created 
							a.color-primary(href="https://cityescape.ph/", style="font-weight: inherit; font-size: inherit; font-family: inherit; text-decoration: none;") cityescape.ph
							
						a(href="projects.html", style="padding: 1em 4em;").button.button-primary.button-round.color-white view projects
						ol.flex.flex-wrap.social-media
							li: a(href="https://github.com/kurtobando").fab.fa-github
							li: a(href="https://dribbble.com/kurtobando").fab.fa-dribbble


					section

		include jade/footer.jade
