doctype html
html(lang='en')
	head
		include jade/head.jade

	body
		section
			include jade/header.jade

			h1 Hi i'm Kurt
			p i design, code, solve web problems and founder of cityescape.ph

		section

			img(src="images/iPhone-X-Mockup.png", alt="cityescape iPhone view")

			img(src="images/Desktop-Mockup.png", alt="cityescape Desktop view")


			h1 Ideal cityescape.ph landing page, can't wait to get this release.
			p. 
				Explore and be part of the community site. 
				Meet our contributors who have the same interest as yours. You'll love them!
			a(href="http://demo.kurtobando.com/cityescapeph/", target="_blank") view demo
			a(href="http://links.kurtobando.com/demo-cityescape-ph", target="_blank") download PSD

		section
			h1 Do you see potential on my works?
			p Let me know at me@kurtobando.com

		include jade/footer.jade
