doctype html
html(lang='en')
	head
		include jade/head.jade

	body
		section.section
			include jade/header.jade
			
			.section__content
				.display-flex.display-flex--center
					
						h1 Hi, i am Kurt
						p i design, code,  solve web problems and founder of cityescape.ph

		section.section
			.section__content
				.display-flex.display-flex--center
					h1 Ideal cityescape.ph landing page, can't wait to get this release.
					p. 
						Explore and be part of the community site. 
						Meet our contributors who have the same interest as yours. You'll love them!
					a(href="http://demo.kurtobando.com/cityescapeph/").button.button-primary view demo

		section.section
			.section__content
				.display-flex.display-flex--center
					
						h1 Do you see potential on my works?
						p Let me know at me@kurtobando.com

		include jade/footer.jade
