doctype html
html(lang='en')
	head
		include jade/head.jade

	body
		// offset navigation
		include jade/__navigation-offset.jade
		
		.page-label
			.page-label__content
				h3.color-white projects
		
		.container
			section.section.section-cover.padding-remove-top.padding-remove-bottom
				.flex.flex-column.flex-space-between(style="min-height: inherit;")
					include jade/__navigation.jade
					
					section(style="text-align: center;")
						.project-card.project-cityescape-v1
							.project-card__content
								.project-card__title
									h1 Ideal cityescape.ph landing page, can't wait to get this release.
									
								.project-card__images
									img(src="images/iPhone-X-Mockup.png", alt="cityescape iPhone view")
									img(src="images/Desktop-Mockup.png", alt="cityescape Desktop view")
								
								.project-card__body
									h3 Reason behind for this project?
									p This is the first project project where I was able to use the tools listed below. With that said, I challenge my self creating a simple template for my cityescape.ph website. In fact, after this project, I will create a WordPress theme out of these .html templates.

									h3 Tools used?
									ol.flex.flex-wrap.flex-space-around.project-card__icons(style="font-size: 2em;")
										li
											i.fab.fa-npm
										li
											i.fab.fa-gulp
										li
											i.fab.fa-github
										li
											i.fab.fa-html5
										li
											i.fab.fa-sass
										li
											i.fab.fa-js-square
										li
											i.fab.fa-font-awesome
										
								.project-card__buttons
									a(href="http://links.kurtobando.com/demo-cityescape-ph", target="_blank").button.button-primary.button-round.margin-small.color-white Download PSD
									a(href="http://demo.kurtobando.com/cityescapeph/", target="_blank").button.button-primary-outline.button-round.margin-small.color-white View v.1.0 demo 
									a(href="https://github.com/kurtobando/cityescape/tree/v1.0", target="_blank").button.margin-small.color-primary View in Github
						
						.project-card.project-dig-whois
							.project-card__content
								.project-card__title
									h1 Dig and Whois Tools
									
								.project-card__images
									img(src="https://camo.githubusercontent.com/272af7fb32e4a4862efcea51d419fe94193e9153/68747470733a2f2f736e61672e67792f636f314133342e6a7067", alt="tools.kurtobando.com/tools/ view")
								
								.project-card__body
									h3 Reason behind for this project?
									p
										| I find it time consuming if I query both DNS and Whois records in each separate designated websites. For example, for whois records, I have to check 
										a(href="https://whois.com ")  Whois 
										| and for the Dig result, I have to check 
										a(href="https://toolbox.googleapps.com/apps/dig/.")  Dig Result 
										| With that said, I have this tool which we can query both.

									h3 Tools used?
									ol.flex.flex-wrap.flex-space-around(style="font-size: 2em;").project-card__icons
										li
											i.fab.fa-github
										li
											i.fab.fa-html5
										li
											i.fab.fa-css3
										li
											i.fab.fa-js-square
										li
											i.fab.fa-uikit
										li
											i.fab.fa-php
											
										
								.project-card__buttons
									a(href="https://tools.kurtobando.com/tools/", target="_blank").button.button-primary.button-round.margin-small.color-white View demo 
									a(href="https://github.com/kurtobando/tools", target="_blank").button.margin-small.color-primary View in Github
						
		include jade/footer.jade
